@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap');

:root{

    /*.................PRIMARY COLORS.................*/
    --beaver: #9e7f66;
    --codGray: #111111;

    /*.................SECUNDARY COLORS.................*/
    --mirage: #17192b;
    --ebonyClay: #242b37;
    --shuttleGray: #5c6779;
}

*{
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    overflow-x: hidden;
}

/*.................TYPO & BUTTON SETUP.................*/
.heading_XL{
    font-size: clamp(2rem, 5.55vw, 6rem);
    font-weight: 300;
    line-height: 5.55vw;
    letter-spacing: -1;
}

.heading_L{
    font-size: clamp(1.5rem, 3.33vw, 3rem);
    font-weight: 700;
    line-height: 3.33vw;
    letter-spacing: -0.5;
}

.heading_M{
    font-size: clamp(0.75rem, 1.388vw, 1.5rem);
    font-weight: 700;
    line-height: 1.666vw;
    letter-spacing: -0.25;
}

.heading_S{
    font-size: clamp(0.5rem, 1.180vw, 0.75rem);
    font-weight: 700;
    line-height: 1.944vw;
    letter-spacing: -2.5;
}

.body1{
    font-size: clamp(0.9rem, 1.388vw, 1.6rem);
    font-weight: 400;
    line-height: 2.083vw;
}

.body2{
    font-size: 1.11vw;
    font-weight: 400;
    line-height: 1.80vw;
}

.bodySmall{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.btnDark{
    width:11.80vw;
    height:4.45vw;
    font-size: clamp(0.9rem, 1.388vw, 1.6rem);
    font-weight:600;
    color:#fff;
    border:1px solid #fff;
    background: transparent;
    padding:14px;
}

.btnDark:hover{
    color:var(--codGray);
    border:1px solid #fff;
    background: #fff;
}

.btnDark:disabled{
    opacity: .25;
}

.btnLight{
    width:11.80vw;
    height:4.45vw;
    font-size: clamp(0.9rem, 1.388vw, 1.6rem);
    font-weight:600;
    color:var(--codGray);
    border:1px solid var(--codGray);
    background: transparent;
}

.btnLight:hover{
    color:#fff;
    border:1px solid var(--codGray);
    background: var(--codGray);
}

.btnLight:disabled{
    opacity: .25;
}

